.sizecontainer{width:30px;height:132px;
    position: absolute;
    top: -102px;
}
.modebar-container{display:none;}
.zoomcontrol{position:relative;}
.sizecontainer-sizeadjustment{display: flex; flex-direction:column;justify-content:space-between;align-items:flex-start;padding:0px;gap:20px;position:absolute;width:30px;height:132px;left:0px;top:-40px; /*visibility:hidden;*/

}
.sizecontainer-sizeadjustment-plus{flex:none;order:0;flex-grow:0;margin:0px;width:30px;height:30px;}
.sizecontainer-sizeadjustment-reset{flex:none;order:1;flex-grow:0;margin:0px;width:30px;height:30px;}
.sizecontainer-sizeadjustment-minus{flex:none;order:2;flex-grow:0;margin:0px;width:30px;height:30px;}
.sizecontainer-iconsize{position:absolute;width:30px;height:30px;left:0px;top:102px;}
